* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    background-color: red;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    /* grid-auto-flow: column; */
    /* grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"; */
    border: 5px solid white;
}

main {
    display: grid;
    grid-column: 1/span 3;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr 1fr;
}

header {
    grid-column: 1/span 3;
    /* padding-top: 10px; */
    background-color: rgb(130, 130, 123);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid white;
}

nav {
    /* padding-top: 10px; */
    background-color: rgb(145, 121, 93);
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    border-right: 5px solid white;
}

article {
    /* padding-top: 10px; */
    background-color: rgb(6, 82, 50);
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

aside {
    /* padding-top: 10px; */
    background-color: rgb(7, 99, 99);
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    border-left: 5px solid white;
}

footer {
    /* padding-top: 10px; */
    border-top: 5px solid white;
    grid-column: 1/ span 3;
    background-color: rgb(130, 130, 123);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}